body { 
 background-color: #8EA9B4;
 display: block;
 font-family: 'Fraunces', serif;
 margin: 0;
}

.column {
    float: left;
}

.left {
    width: 20%;
}

.middle {
    width: 60%;
}

.right {
    width: 20%;
}


.pic {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0;
    height: 100vh;
}

.nav {
    padding-top: 20px; 
}

.nav a {
    text-decoration: none;
    margin-left: 3vw;
    font-size: 18px;
    color: black;
    display: block;
}

.logos { 
    text-align: center;
    position: absolute;
    bottom: 0;
}

.logos a {
    margin-bottom: 3vh;
    /* margin-left: 4vh; */
    margin-left: 30px;
    text-decoration: none;
    font-size: 30px;
    color: black;

}

.content {
    text-align: center;
    margin-top: 3vh;
}

@media only screen and (max-width: 1320px)and (min-width: 1008px) {
    .logos {
        right: 5vw;
    }
    .logos a {
        display: block;
        right: 0;
    }
}

@media only screen and (max-width: 1007px) {
    .column {
      width: 100%;
    }
    .nav {
        padding-bottom: 20px; 
        text-align: center; 
        }
    .nav a {
        display: inline;
    }
    .pic {
        height:65vw;
    }
    .logos {
        position: relative;
        text-align: center;
        margin-top: 20px;
    }
  }
